<ng-template #loading>
  <shared-loading-spinner text="Cargando Información"></shared-loading-spinner>
</ng-template>

<div *ngIf="initialCountry; else loading">

  <div class="col-12 mb-5">
    <button class="btn btn-secondary" (click)="goBack()">
      🢀 Regresar
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>País: {{ initialCountry.name.common }} </h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3 class="text-center">Bandera</h3>
      <img [src]="initialCountry.flags.svg" [alt]="initialCountry.name.common" class="img-thumbnail">
    </div>
    <div class="col">
      <h3 class="text-center">Información</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
          <strong>Población:</strong> {{ initialCountry.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código:</strong> {{ initialCountry.cca3 }}
        </li>
        <li class="list-group-item list-group-item-secondary">
          <strong>Capital:</strong> {{ initialCountry.capital }}
        </li>
        <li class="list-group-item">
          <strong>Área:</strong> {{ initialCountry.area | number }} km<sup>2</sup>
        </li>
        <li class="list-group-item list-group-item-secondary">
          <strong>Región:</strong> {{ initialCountry.region }}
        </li>
        <li class="list-group-item">
          <strong>Ubicación Geográfica: </strong> <a [href]="initialCountry.maps.googleMaps" target="_blank">Ver en Google Maps</a>
        </li>
      </ul>
    </div>
  </div>
<hr>
  <div class="row mt-2 text-center">
    <div class="col">
      <h3>Traducciones</h3>
      <div class="d-flex flex-wrap justify-content-center">
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['ara'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['bre'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['ces'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['cym'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['deu'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['est'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['ita'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['kor'].common }} </span>
        <span class="badge bg-primary m-1"> {{ initialCountry.translations['per'].common }} </span>
      </div>
    </div>
  </div>
<hr>
  <div class="row mt-2 text-center">
    <div class="col">
      <h3>Gifs relacionados con {{ initialCountry.name.common }} </h3>
      <div class="row p-3">
        <div class="col-12">
          <countries-button [countryName]="initialCountry.name.common"></countries-button>
        </div>
        <div class="col-12 pt-2">
          <countries-gifs [gifs]="gifs"></countries-gifs>
        </div>
      </div>
    </div>
  </div>

</div>