@font-face {
  font-family: 'Cheese Burger';
  src: url('/assets/fonts/cheeseBurger.otf');
}

* {
  font-family: 'Cheese Burger';
  color: white
}

.content {
  background-color: rgba(54, 54, 54, 0.568);
  border-radius: 5rem;
  padding: 4rem;
  margin-bottom: 5rem;
}

.sidebar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}